*{
  color:white;
  font-family: 'Montserrat', sans-serif;
}
body{
  background-color: grey;
}
h1{
  font-size: 50px;
}
h2{
  font-size:40px;
}
#introduccion{
  background-image: url(fondo.jpg);
  margin: -10px;
  padding: 200px 200px 320px 200px;
}

nav li{
  list-style-type: none;
  display: inline;
  padding: 0 40px 0 20px;

}
nav{
  float:right;
}
img{
  height: 220px;
}
.fotos_perros img{
  padding: 30px 40px;
}
.fotos_gatos img{
  padding: 30px 10px;
}
